/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 8:54:57 AM
    Author     : Jamie
*/

/*****************
General
******************/


html, body {
  color: white;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
}

.grayout {
    color: #ccc;
}

a:hover {
  color: #A99FA1;
}

.center{
    text-align:center;
}

.editColumn{
    text-align:right;
}

/*****************
Header 
******************/

header {
  top: 0;
  height:100px;
  background: #3f282d;
  border-bottom: 2px solid #382428;
  padding-top:30px;
  padding-bottom:30px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}


/* Logo */

.logo {
  float: left;
  text-align: left;
  margin-left: 5%;
  font-size: 28px;
}


/* Navigation */

nav {
  float: right;
  text-align: right;
  margin-right: 2%;
}


nav ul {
  list-style: none;
  margin: 0;
  padding-top: 8px;
}


nav li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}


nav a {
  padding: 15px 10px;
}

.container{
    background-color: whitesmoke;
    height:100%;
    margin-top: 118px;
    color:black;
}

.subnav {
    list-style-type: none;
}

.subnav li:first-child{
    float:left;
}

