/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 8:54:57 AM
    Author     : Jamie
*/

/*****************
General
******************/

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  color: white; 
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}


a {
  text-decoration: none;
  color: inherit;
}


a:hover {
  color: #A99FA1;
}



/*****************
Header 
******************/

header {
  float: left;
  background: #3f282d;
  border-bottom: 2px solid #382428;
  padding: 25px 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}


/* Logo */

.logo {
  float: left;
  text-align: left;
  margin-left: 5%;
  font-size: 28px;
}


/* Navigation */

nav {
  float: right;
  text-align: right;
  margin-right: 2%;
}


nav ul {
  list-style: none;
  margin: 0;
  padding-top: 8px;
}


nav li {
  display: inline-block;
  padding: 0 8px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}


nav a {
  padding: 15px 10px;
}

.container{
    background-color: whitesmoke;
    height:100%;
    margin-top: 118px;
    color:black;
}

.subnav {
    list-style-type: none;
}

.subnav li{
    height:100px;
    text-align:center;
    vertical-align:middle;
    line-height:100px;
}

.subnav li:first-child{
    float:left;
    width:50%;
    background-color:#222;
    color:white;
    border-right:1px solid white;
}

.subnav li:nth-child(2){
    width:50%;
    background-color:#222;
    color:white;
    margin-left:50%;
    border-left: 1px solid white;
}
